<ion-header>
  <ion-toolbar>
    <ion-title slot="start">registrar</ion-title>
    <ion-button slot="end" routerLink="/login">
      <ion-icon name="log-in-outline"></ion-icon>
      Volver a login
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fondo">
  <ion-card>
    <img src="../../../assets/img/logo-duoc.png" alt="imagen_login" class="imagen_login"/>
    <img src="../../../assets/img/custom_user.png" style="width: 100px;"/>
    <ion-card-header>
      <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black;">Registrar</h1>
    </ion-card-header>
    <ion-card-content>
      <!--<form [formGroup]="usuario" (ngSubmit)="registrar()">-->
        <ion-item>
          <ion-label position="stacked">Rut</ion-label>
          <ion-input TRIM type="text" [(ngModel)]="usuario.rut" placeholder="Ingrese rut"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nombre completo</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.nom_completo" placeholder="Ingrese nombre" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">correo electronico</ion-label>
          <ion-input TRIM type="text" [(ngModel)]="usuario.email" placeholder="Ingrese correo" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Fecha nacimiento</ion-label>
          <ion-input TRIM type="date" [(ngModel)]="fecha_nac" placeholder="Ingrese fecha nacimiento"  max="{{fechaMax}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Semestre</ion-label>
          <ion-input TRIM type="number" [(ngModel)]="usuario.semestre" placeholder="Ingrese semestre" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input TRIM type="password" [(ngModel)]="usuario.password"placeholder="Ingrese contraseña"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Repita Contraseña</ion-label>
          <ion-input TRIM type="password" placeholder="Ingrese nuevamente contraseña" [(ngModel)]="verificar_password" [ngModelOptions]="{standalone: 'true'}"></ion-input>
        </ion-item>
        <ion-button (click)="registrar()" >REGISTRAR </ion-button>
      <!--</form>-->
    </ion-card-content>
  </ion-card>
</div>

</ion-content>
