
<ion-content>
  <div class="fondo">
    <div class="logo">
    <img src="/../assets/img/logo_duoc_und.png"/>
    </div>
    <ion-slides [options]="option" class="ion-margin-top">
      <ion-slide>
        <ion-card>
          <img src="/../assets/img/sedes-campus.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="/../assets/img/sede3.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="/../assets/img/sede4.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="/../assets/img/fondo_duoc.jpg">
        </ion-card>
      </ion-slide>
<!--       <ion-slide>
        <ion-card>
          <img src="/../assets/img/fondo_duoc.jpg">
        </ion-card>
      </ion-slide> -->
    </ion-slides>
    <h1 style="color: black;">Bienvenido a RegistrAPP</h1>
  </div>
</ion-content>
