
<ion-content [fullscreen]="true">

  <!--<form [formGroup]="usuario" (ngSubmit)="registrar()">-->
    <ion-item>
      <ion-label position="stacked">Rut</ion-label>
      <ion-input TRIM type="text" [(ngModel)]="usuario.rut" placeholder="Ingrese rut" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nombre completo</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nom_completo" placeholder="Ingrese nombre" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">correo electronico</ion-label>
      <ion-input TRIM type="text" [(ngModel)]="usuario.email" placeholder="Ingrese correo" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha nacimiento</ion-label>
      <ion-input TRIM type="date" [(ngModel)]="fecha_nac" placeholder="Ingrese fecha nacimiento"   max="{{fechaMax}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Semestre</ion-label>
      <ion-input TRIM type="number" [(ngModel)]="usuario.semestre" placeholder="Ingrese semestre"  ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input TRIM type="password" [(ngModel)]="usuario.password"placeholder="Ingrese contraseña"  ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Repita Contraseña</ion-label>
      <ion-input TRIM type="password" placeholder="Ingrese nuevamente contraseña" [(ngModel)]="verificar_password" [ngModelOptions]="{standalone: 'true'}"></ion-input>
    </ion-item>
    <ion-button (click)="registrar()" >REGISTRAR </ion-button>
    <ion-button (click)="modificar()">MODIFICAR</ion-button>
    <ion-button (click)="limpiar()">LIMPIAR</ion-button>
  <!--</form>-->

  <h1>LISTA DE USUARIOS</h1>
  <ion-list *ngFor="let usuario of usuarios">
    <p>{{usuario.rut}} - {{usuario.nom_completo}} - {{usuario.fecha_nac}} - {{usuario.semestre}}</p>
    <ion-button color="warning" (click)="buscar(usuario.rut)">Buscar</ion-button>
    <ion-button color="danger" (click)="eliminar(usuario.rut)">Eliminar</ion-button>
  </ion-list>

</ion-content>
