.fondo {
    height: 80vh;
    background-image: url("../../../assets/img/background.jpg");
    background-size: cover;
    text-align: center;
  }

ion-card {
    --background: linear-gradient(rgb(93, 172, 169), #e2e3ee);
    margin: 0 auto;
    top: 7vh;
    height: 300px;
    width: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .imagen_login {
        width: 25%;
    }

    ion-card-header {
        ion-card-subtitle {
            font-size: x-large;
            color: black;
        }

        ion-card-title {
            font-size: x-large;
            color: black;
        }
    }

    ion-item {
        color: black;
        --background: none;

        ion-label {
            font-size: medium;
            font-weight: bold;
        }
    }

    a {
        text-decoration: none;
        font-size: medium;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-align: center;
    }
}
