<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
    <ion-button slot="end" routerLink="/home">
      <ion-icon name="log-in-outline"></ion-icon>
      Volver a home
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fondo">
    <ion-card>
      <img src="../../../assets/img/logo-duoc.png" alt="imagen_login" class="imagen_login"/>
      <img src="../../../assets/img/usuario.png" alt="imagen_login" class="imagen_login"/>
      <ion-card-header>
        <ion-card-subtitle>INGRESAR</ion-card-subtitle>
        <ion-card-title>RegistrAPP</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Usuario</ion-label>
          <ion-input type="text" placeholder="Ingrese usuario" [(ngModel)]="user"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Contraseña</ion-label>
          <ion-input type="password" placeholder="Ingrese contraseña" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-button (click)="login()">INGRESAR</ion-button>
      </ion-card-content>
      <a routerLink='/registrar'>Ir a registrar...</a>
      <a routerLink='/forget-pass'>¿olvidaste tu contraseña?...</a>
    </ion-card>
  </div>
</ion-content>
