<ion-header>
  <ion-toolbar>
    <ion-title>Perfil Alumno</ion-title>
    <ion-button slot="end" routerLink="/login">CERRAR SESION</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="fondo">
    <ion-card>
      <ion-card-header>
          <img src="../../../assets/img/perfil_alumno.png" alt="perfil_alumno" class="perfil_alumno"/>
      </ion-card-header>
      <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre:</ion-label>
        <ion-label position="stacked">Semestre:</ion-label>
        <ion-label position="stacked"></ion-label>
        
      </ion-item>
      <ion-button (click)="login()">Revisar notas</ion-button>
      <ion-button (click)="login()">Revisar asistencia</ion-button>
        

      </ion-card-content>
      </ion-card>

</div>

</ion-content>