<ion-header>
  <ion-toolbar>
    <ion-title size="small">Bienvenido: {{usuario.nom_completo}}</ion-title>
    <ion-button size="small" fill="clear" slot="end" (click)="logout()">
      <ion-icon size="small" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      
      <ion-tab-button tab="perfil/{{usuario.rut}}">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="administrador" *ngIf="usuario.tipo_usuario == 'administrador'">
        <ion-icon name="file-tray-stacked-outline"></ion-icon>
        <ion-label>Administrar</ion-label>
        <ion-badge>{{cantidadUsu}}</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="bienvenido">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="alumno/{{usuario.rut}}" *ngIf="usuario.tipo_usuario == 'alumno' ">
        <ion-icon name="qr-code-outline"></ion-icon>
        <ion-label>Ingresar QR</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="map" *ngIf="usuario.tipo_usuario == 'alumno'">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profesor/{{usuario.rut}}" *ngIf="usuario.tipo_usuario == 'profesor'">
        <ion-icon name="qr-code-outline"></ion-icon>
        <ion-label>Crear asistencia QR</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="clases" *ngIf="usuario.tipo_usuario == 'administrador'">
        <ion-icon name="library-outline"></ion-icon>
        <ion-label>Crear clase</ion-label>
        <ion-badge>{{cantidadClass}}</ion-badge>
      </ion-tab-button>
     
      
    </ion-tab-bar>
  </ion-tabs>
  </div>
</ion-content>